<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdKhYh6M35KWzuHy1LROBvxjcYXwjjh9s</string>
	<key>GCM_SENDER_ID</key>
	<string>339349232348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beanApp0</string>
	<key>PROJECT_ID</key>
	<string>bionicbean-be5d8</string>
	<key>STORAGE_BUCKET</key>
	<string>bionicbean-be5d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339349232348:ios:71b4579651cac990d07219</string>
</dict>
</plist>